<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>| HippoFeedo - Complaints |</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica:700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/superfish.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-messages.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        })
    </script>
    <script>
        var suggestApp = angular.module('suggestApp', []);

        suggestApp.controller('suggestController', function($scope){
        });
    </script>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <style>
        .error {

            color: #E02A05;
            font-size: 12px;
            float: left;

        }

        .formElement {
            margin-top: 10px;
        }

        input[type=submit]:disabled, input[type=submit] [disabled] :hover {

            cursor: not-allowed;
            color: palevioletred;

        }
    </style>

</head>
<body id="top">
<!--==============================header=================================-->
<div class="main">
    <header>
        <div class="clear"></div>
        <div class="container_12">
            <div class="grid_12">
                <h1>
                    <a href="index.html">
                        <img src="images/logo.png" alt="noimage">
                    </a>
                </h1>
            </div>
        </div>
    </header>
</div>
<div class="menu_block">
    <div class="container_12">
        <div class="grid_12">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="#">Update Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main">
    <!--==============================Content=================================-->
    <div class="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="box" ng-app="suggestApp" ng-controller="suggestController">
                    <div class="inner maxheight">
                        <h3>Suggestions Submission Zone</h3>
                        <div class="map">
                            <div class="clear"></div>
                            <div class="fleft">
                                <h4>Please fill all the fields to submit the suggestion</h4>
                                <hr>
                                <form name="suggestForm" method="get" id="form" action="/addsuggestion" novalidate>
                                    <div class="success_wrapper">
                                        <div class="success-message">Suggestion form submitted</div>
                                    </div>
                                    <div><strong>Suggestion Title</strong></div>
                                    <div class="formElement">
                                    <label class="name">
                                        <input type="text" ng-model="title" name="title" placeholder="Suggestion title..." required minlength="10" id="title" />
                                        <span class="error" ng-if="suggestForm.title.$touched" ng-show="suggestForm.title.$error">
                                                    <span ng-show = "suggestForm.title.$error.required">Title is required.</span>
                                                    <span ng-show = "suggestForm.title.$error.minlength">Title is too short.</span>
                                        </span>
                                    </label>
                                    </div>
                                    </br>
                                    </br>
                                    </br>
                                    <div><strong>Suggestion Description</strong></div>
                                    <div class="formElement">
                                    <label class="message">
                                        <textarea placeholder="Explain the suggestion briefly..."  id="description" name="description" ng-model="description" required></textarea>
                                        <span class="error" ng-if="suggestForm.description.$touched" ng-show="suggestForm.description.$error">
                                                    <span ng-show = "suggestForm.description.$error.required">Description is required.</span>
                                        </span>
                                    </label>
                                    </div>
                                    <br>
                                    <div>
                                        <div class="btns">
                                            <a href="#" data-type="reset" class="btn">Clear</a>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" id="cmplntsbmt" value="Submit Suggestion" name="suggest" ng-model="suggest" ng-disabled="suggestForm.title.$error.required
                                                                                                                                        || suggestForm.title.$error.minlength
                                                                                                                                        || suggestForm.description.$error.required ">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================footer=================================-->
    <footer>
        <div class="hor bg3"></div>
        <div class="container_12">
            <div class="grid_12">
                | HippoFeedo | Coming Soon... |
            </div>
        </div>
    </footer>
</div>
</body>
</html>